$padding-xxs: 5px;
$padding-xs: 10px;
$padding-s: 15px;
$padding-m: 20px;
$padding-l: 30px;
$padding-xl: 45px;
$padding-xxl: 60px;

$font-size-xxs: 0.5rem;
$font-size-xs: 0.65rem;
$font-size-s: 0.8rem;
$font-size-m: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.40rem;
$font-size-xxl: 1.65rem;
